<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Todo</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">

    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- Needed for Cordova/PhoneGap (will be a 404 during development) -->
    <script src="js/app.js"></script>
    <script src="cordova.js"></script>
  </head>
  <body ng-app="starter">
    <ion-pane>
      <ion-header-bar class="bar-stable" id="header">
        <h1 class="title">Move it!</h1>
      </ion-header-bar>
      <ion-content class="has-header" id="contentBG" ng-controller="AppCtrl">
        <div id='buttons'>
          <button class="button button-full button-stable" ng-click="animateVisuals()">Content</button>
          <button class="button button-full button-stable" ng-click="moveButtons()">Move me</button>
          <button class="button button-full button-stable" ng-click="blink()">Blink</button>
          <button class="button button-full button-stable" ng-click="timer()">Timer</button>
        </div>

        <div style="width: 100%; background-color:#E0F2F1; height: 50px; margin-top: 70%; text-align: center; font-size: 40px; line-height: 100%;" ng-cloak>
          <div id="myTimer">{{time}}</div>
        </div>
      </ion-content>
    </ion-pane>
    <script src='lib/move/move.min.js'></script>
  </body>
</html>
